<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.zwl.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="storageId" column="storage_id" jdbcType="INTEGER"/>
            <result property="payAmount" column="pay_amount" jdbcType="DOUBLE"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,storage_id,
        pay_amount,update_time,create_time
    </sql>
</mapper>
